#/appunti.txt
.DS_Store
.gitignore
.DS_Store
data/.DS_Store
*.DS_Store
data/.DS_Store
*__pycache__*
*.pyc
.env

# Old files
stat_analysis_label_distribution.ipynb
trial_model_performance.ipynb
trial_label_distribution_updated.ipynb
investigate_weird.ipynb
find_sentence.ipynb
try.ipynb
count_missing.ipynb